body {
    background-color: white;
    font-size: 100%;
    font-family: sans-serif;
}
.wireframe {
    margin: 0;
    padding: 0;
}
.wireframe section,
.wireframe nav,
.wireframe .menu {
    margin: 1em;
    background-color: whitesmoke;
    border: 1px solid gainsboro;
    font: small sans-serif;
    text-align: center;
    color: silver;
}
.wireframe .menu { 
    position: absolute; 
    margin: 0;
    top: 0; 
    right: 0; 
    background-color: gainsboro; 
    padding: 0.5em;
    color: steelblue;
}
.wireframe h1 {
    font-weight: 100;
}
.wireframe #book-title { height: 5em; } 
.wireframe #synopsis { height: 30em; } 
.wireframe #purchase { height: 20em; } 
.wireframe #resources { height: 50em; } 
.wireframe #errata { height: 40em; }
.wireframe nav { height: 10em; }
