html, body {
    margin: 0;
    padding: 0;
}
body {
    font-size: 100%;
    font-family: Gill Sans, Helvetica, Arial, sans-serif;
    border-top: 1em solid #00a754;
    color: #1a1919;

} 
h1,h2,h3,h4,h5,h6 {
    font-weight: 200;
}

/*** @export "h1" css */
h1 {
    text-transform: uppercase;
    background-color: #45565c;
    color: #fee29d;
    margin-top: 0;
    padding: .5em;
}
/*** @end */

p { 
    margin: 1em; 
    line-height: 1.5;
} 

h1+p {
    background-color: #644b64;
    color: #6cc9e3;
    padding: .5em;
    margin-top: -2em;
    width: 50%;
}

p+p::first-line {
    text-transform: uppercase;
}
